<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Bookings</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
   <h1>Book A Transfusion</h1>
   <table style="width:100%">
     <thead>
     <tr>
       <th>Patient</th>
       <th>PatientID</th>
       <th>DOB</th>
       <th>Blood Type</th>
       <th>Order</th>
       <th>Book Patient</th>
     </tr>
   </thead>
   <tbody>
   <form action="http://localhost:5000/order/book" method="POST">
   {%for row in table%}
    <tr>
      <td>{{row[0]}}</td>
      <td>{{row[1]}}</td>
      <td>{{row[2]}}</td>
      <td>{{row[3]}}</td>
      <td>{{row[4]}}</td>
      <td><input type="radio" name="qty_{{row[1]}}_{{row[3]}}" value= {{row[4]}} >Book
        <input type="radio" name="qty_{{row[1]}}_{{row[3]}}" value= 0>Postpone<td>
    </tr>
       {%endfor%}
  </tbody>
  </table>
  <button>Make Booking</button> <a href="http://localhost:5000/order/book/booked">See Confirmed Bookings</a><br>

       <a href="http://localhost:5000//">Home</a>
       <a href="http://localhost:5000/calculator">Blood Type Calculator</a>
       <a href="http://localhost:5000/inventory">Inventory</a>
       <a href="http://localhost:5000/transfusion">Transfusions</a>
   </form>
</body>
</html>
