<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Blood Type Calculator</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
   <h1>Blood Type Calculator</h1>
   <form action="http://localhost:5000/result" method="POST">
       <label>Please enter your blood type:</label>
       <input type="text" name="blood"> <!-- you can change the type-->
       <button>Submit</button><br>
       <img src="{{ url_for('static', filename='chart.gif') }}"><br>

       <a href="http://localhost:5000//">Home</a>
       <a href="http://localhost:5000/calculator">Blood Type Calculator</a>
       <a href="http://localhost:5000/inventory">Inventory</a>
       <a href="http://localhost:5000/transfusion">Transfusions</a><br>
   </form>
</body>
</html>
