<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Login</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
   <h1>Authorised Login</h1>
   <form action="http://localhost:5000/temp" method="POST">
       <label>Please enter your User ID:</label>
       <input type="text" name="user"><br>
       <label>Please enter your password:</label>
       <input type="password" name="pass"><br>
       <button>Submit</button><br>

       <a href="http://localhost:5000//">Home</a>
       <a href="http://localhost:5000/calculator">Blood Type Calculator</a>
       <a href="http://localhost:5000/inventory">Inventory</a>
       <a href="http://localhost:5000/transfusion">Transfusions</a><br>
   </form>
</body>
</html>
