<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Match Result</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
  <body>
    <h1>{{message_1}}</h1>
    <p>{{message_2}}</p><br>

    <a href="http://localhost:5000//">Home</a>
    <a href="http://localhost:5000/calculator">Blood Type Calculator</a>
    <a href="http://localhost:5000/inventory">Inventory</a>
    <a href="http://localhost:5000/transfusion">Transfusions</a><br>
  </body>
</html>
